@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    color:black;
    font-family: "Times New Roman", Times, serif, "Open Sans";
    background-color: rgb(240, 245, 150);
}

.navblock{
    border:2px solid black;
    box-sizing:border-box;
    border-radius:10px;
    background-color: white;
    padding:0.5em;
}

a.navlink{
    text-decoration: none; 
}

ul.menu{
    list-style:none; 
}

ul.menu li{
    display:inline;
}

.navtitle:active{
    text-decoration: none;
}

.navtitle:visited{
    text-decoration:none:
}

.navtitle:hover{
    color:red;
}

.navtitle{
    font-family: Times;
    color:rgb(48, 1, 255);
    display:inline;  
    border:2px solid black;
    box-sizing:border-box;
    background-color: rgba(59, 59, 59, 0.432);
    border-radius:5px; 
    padding:0.2em;
}

.flag{
    padding:0em;
    margin:0em;
    padding-top:2em;
}

.imflag{
    margin:auto;
    width:150px;
}

.figtxt{
    color:rgb(48, 48, 48);
    font-size:20px;
    padding: 0em;
    text-align:center;
}

.intro{
    padding-top:1em;
}